body {
    margin: 0;
    padding: 0;
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
                url("https://images.unsplash.com/photo-1500382017468-9049fed747ef");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}